@using MvcWebDev.Auth.Security.Session;

<script type="text/html" id="Entry-Template">
<div data-bind="if: $data" class="blogEntry row" style="margin-top:20px; border-bottom:2px,solid,Gray;">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <a data-bind="attr: { href: Url }"><h2 data-bind="text: Title"></h2></a>
            </div>
        </div>
        <div class="row">
            <div class="altert alert-success span2" style="padding-left:10px;width:200px;">
                <span data-bind="text: CreateDate"></span>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="span12" data-bind="html: EntryText"></div>
        </div>
        <div data-bind="if: ShowComments && Comments().length > 0" class="row">
            <div data-bind="foreach:Comments" class="span6" style="background-color:Gray;padding-top:10px;padding-left:10px;padding-bottom:10px;">
                    <div class="row" style="margin-bottom:5px;">
                        <div class="span0">
                            <img data-bind="attr: { src: Gravatar }" alt="gravatar" />
                        </div>
                        <div class="span5">
                            <div class="row"><div data-bind="text: Content" class="span5" style="background-color:White;margin-left:10px;margin-right:10px;margin-bottom:10px;"></div></div>
                            <div class="row">
                                <div class="span5">
                                    <div style="margin-left:30px;">
                                        <span data-bind="text: CommentDate"></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;By:&nbsp;
                                        <span data-bind="text: By"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row" data-bind="if: ShowComments" style="margin-top:10px;">
            <div class="span8">
                <textarea class="commentArea span8" data-bind="attr: {'data-entryid': Id}" style="display:none;"></textarea>
                <a class="btn" data-bind="click: Comment" id="btnDisplayCommentArea">Comment</a>
                <a class="btn" data-bind="click: CancelComment" id="btnCancelComment" style="display: none;">Cancel</a>
            </div>
        </div>

        @if (User.IsInRole("BlogAdmin"))
        { 
            <div data-bind="if: EditUrl()" class="row">
                <a data-bind="attr: { href: EditUrl }" class="btn">Edit</a>
            </div>
        }
    </div>
</div>
</script>