@if(Request.IsAuthenticated) {
    <div class="pull-right">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <ul class="nav pull-right">
                    <li style="color:White;margin-top:12px;">Hello,&nbsp;</li>
                    <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage", style = "padding-right:0px;padding-left:0px;" })</li>
                    <li><img src="@ViewBag.GravatarUrl" style="margin-top:5px;margin-left:5px;" /></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
        }
    </div>
}
else {
    <ul class="nav pull-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
