@{
    ViewBag.Title = "Index";
    ViewBag.ActivePage = "HomePage";
}

<h2>Index</h2>

<p>Not much to be said here.  I'm working on re-working my web-site.  You are fortuneate enough to be witness to the latest development build.</p>

<br />
<br />	